[user]
	email = reanpuhalovich@gmail.com
	name = Ryan Puhalovich
[init]
	defaultBranch = main
[core]
	editor = vim
[advice]
	detachedHead = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
    trustExitCode = true
[alias]
	a = add .
	b = branch -a
	bl = blame
	c = commit
	ch = checkout
	clone = clone --recursive
    d = difftool
	fetch = fetch --prune --all
	l = log
	lo = log --oneline
	lg = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%C(bold blue)<%cn> %Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Creset'
	pull = pull --prune --all
	s = status
