let mapleader = " "

nnoremap <leader>a :%y+<cr>

nnoremap s :wa<cr>
nnoremap <c-q> :qa<cr>

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>y "+y
vnoremap <leader>d "+d

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" quick vertical split
nnoremap <leader>v <C-w><C-v><C-w>l

set ignorecase
set incsearch
set scrolloff=10
